*{
	box-sizing:border-box;
}

.box_1{
	margin-top: 200px;
}

.box_01{
display: block;
      width: 126px;
      height: 180px;
      background-color: red;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
		border: 1px solid red;
}

.box_02{
	width: 150px;
      height: 100px;
      transform: skew(20deg);
      background: red;
      border: 1px solid red;
}

.box_03{
	 width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid red;

}

