*{
	box-sizing: border-box;
}
.box ,.box1{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	margin-left: 10px;
}
.box{
		//border-right: 2px solid #ccc;
}
.bdr{
	text-align: left;
}
